# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
*.csv
!crime_data_final.csv
.DS_Store
tl_2010_06075_tract10/
#shape files
sf-tracts/
BayArea/

.Rproj.user
ShapefileInterpreter/
